<container  class="container">
    <table>
        <thead>
            <tr>
                <td>Nome</td>
                <td>Endereco</td>
                <td>Bairro</td>
                <td>Cep</td>
                <td>Telefone</td>
                <td>Celular</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Vinicius Elias Figueiredo</th>
                <th>Rua Santa Terezinha</th>
                <th>Santa Isabel</th>
                <th>68458-405</th>
                <th>(94) 2653-4453</th>
                <th>(94) 98964-6078</th>
                <th>
                    <a href="#"><i class="fas fa-edit"></i></a>
                    <button><i class="fas fa-trash"></i></button>
                </th>
            </tr>
        </tbody>
        </thead>
        <tbody>
            <tr>
                <th>Vinicius Elias Figueiredo</th>
                <th>Rua Santa Terezinha</th>
                <th>Santa Isabel</th>
                <th>68458-405</th>
                <th>(94) 2653-4453</th>
                <th>(94) 98964-6078</th>
                <th>
                    <a href="#"><i class="fas fa-edit"></i></a>
                    <button><i class="fas fa-trash"></i></button>
                </th>
            </tr>
        </tbody>
        </thead>
        <tbody>
            <tr>
                <th>Vinicius Elias Figueiredo</th>
                <th>Rua Santa Terezinha</th>
                <th>Santa Isabel</th>
                <th>68458-405</th>
                <th>(94) 2653-4453</th>
                <th>(94) 98964-6078</th>
                <th>
                    <a href="#"><i class="fas fa-edit"></i></a>
                    <button><i class="fas fa-trash"></i></button>
                </th>
            </tr>
        </tbody>
        </thead>
        <tbody>
            <tr>
                <th>Vinicius Elias Figueiredo</th>
                <th>Rua Santa Terezinha</th>
                <th>Santa Isabel</th>
                <th>68458-405</th>
                <th>(94) 2653-4453</th>
                <th>(94) 98964-6078</th>
                <th>
                    <a href="#"><i class="fas fa-edit"></i></a>
                    <button><i class="fas fa-trash"></i></button>
                </th>
            </tr>
        </tbody>
    </table>
</container>